[Unit]
Description=Action Target Skill Assessment
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/jdiaz/Desktop/at/at_skill_assessment/
ExecStart=/home/jdiaz/Desktop/at/at_skill_assessment/main -hosts="www.google.com,reddit.com" -port="8000" -interval="5s"
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target